<% include header %>
<% include menu %>

   <div id="content">
   	<h3>About Our Company</h3>
	<p>We are importer & distributor of medical equipments located in Tokyo, Japan. Most of our products are manufactured in the U.S or Europe.
	</p>
	<br />

	<h3>About this website</h3>
	<p>This website was created to assist our sales team manage thier sales order. It allows a salesperson to create, search, and modify data relative to their sales such as customer data and territory information.
	</p>

   </div>

<% include resource %>
<% include footer %>
