<% include header %>
<% include menu %>

   <div id="content">
        <h3>Add Dealer</h3>

        <form method="POST" action="<%= action %>">
           <table id="customer">
              <tr><td>Name:</td>
              <td><input type="text" id="name" name ="name" /></td>
              </tr>
              <tr><td>Address:</td>
              <td><input type="text" id="street" name ="street" /></td>
              </tr>
              <tr><td>City:</td>
              <td><input type="text" id="city" name ="city" /></td>
              </tr>
              <tr><td>State:</td>
              <td><input type="text" id="state" name ="state" /></td>
              </tr>
              <tr><td>Zip:</td>
              <td><input type="text" id="zip" name ="zip" /></td>
              </tr>
              <tr><td>Phone:</td>
              <td><input type="text" id="phone" name ="phone" /></td>
              </tr>
           </table>
	   <br />
           <input type="submit">
        </form>

   </div>

<% include resource %>
<% include footer %>

