<% include header %>
<% include menu %>

   <div id="content">
   	<h3>Contact Information</h3>
	<br>
	<table style="width:100%;">
	<tr>
	   <th>Address:</th><td>123 Main St. Ginza Tokyo Japan</td>
	</tr>
	<tr>
	   <th>Phone:</th><td>+81-3456-0987</td>
	</tr>
	<tr>
	   <th>Email:</th><td>info@jkmed.co.jp</td>
	</tr>
	</table>

   </div>

<% include resource %>
<% include footer %>
