<% include header %>
<% include menu %>

   <div id="content">

        <h3>Search Result</h3>
	
	<% if(val.length > 0) { %>
	   <table>
		<tr>
		<th>Product Number</th>
		<th>Name</th>
		<th>Price</th>
		<th>Supplier ID</th>
		</tr>
		<% for (var i=0; val.length > i; i++) { %>
		   <tr>
		   <td><%= val[i].ProductNumber %></td>
		   <td><%= val[i].Name %></td>
		   <td><%= val[i].Price %></td>
		   <td><%= val[i].SID %></td>
		   </tr>
		   <% } %>
	   </table> 
	   <% } else { %>
	   No data found.
	   <% } %>


   </div>



<style>
th{width:100px;}
td{width:230px;}
</style>

<% include resource %>
<% include footer %>

