<% include header %>
<% include menu %>

   <div id="content">

        <h3>Submission Status</h3>

	<%= mssg %>
   </div>

<style>
th{width:100px;}
td{width:230px;}
</style>

<% include resource %>
<% include footer %>

