      <div id="footer1">
      </div>
      <div id="footer2">
        <a href="/privacy">Privacy Policy</a>
        &nbsp; | &nbsp;
        <a href="/about">About</a>
        &nbsp; | &nbsp;
        <a href="/contact">Contact Us</a>
	<br />
	Copyright &copy; &nbsp; All Rights Reserved
      </div>




  </body>
</html>
