<% include header %>
<% include menu %>

   <div id="content">
        <h3>Welcome</h3>
        <br />
        <p>
	Thank you for visiting our website. As an empolyee of JK Medical Inc., you may find this webapp to be useful to create, search, and modify your sales order information.
	</p>
	<br />

	<h3>News</h3>
	<p>-JK Medical announced that they have acquired google.</p>
	<p>-San Francisco Chronicle wrote Yahoo to be part of JK Medical by 2015</p>
	<p>-facebook approaches JK Medical for possible collaboration.</p>
      </div>

<% include resource %>
<% include footer %>
