      <div id="menu">
        <div class="menu1">MENU</div>
        <br />
        <div class="menu2">Enter Data</div>
        <br />
        <div class="menu3"><a href="/customer/create">Add Customer</a></div>
	<div class="menu3"><a href="/product/create">Add Product</a></div>
	<div class="menu3"><a href="/dealer/create">Add Delear</a></div>
        <div class="menu3"><a href="/multi/territory">Add Salesperson & Territory</a></div>
        <br />

        <div class="menu2">Search Data</div>
        <br />
        <div class="menu3"><a href="/customer/selectCustomer">Select Customer</a></div>
        <div class="menu3"><a href="/customer/search">Search Customer</a></div>
	<div class="menu3"><a href="/product/search">Search Product</a></div>
	<div class="menu3"><a href="/dealer/select">Select Dealer</a></div>
	<div class="menu3"><a href="/sales/search">Search Assigned Territory</a></div>
	<br />

        <div class="menu2">View Data</div>
        <br />
        <div class="menu3"><a href="/view/byProduct">View Customer List by Product</a></div>
	<div class="menu3"><a href="/view/dealerSales">View Total Sales by Dealer</a></div>
	<div class="menu3"><a href="/view/completeList">View Sales Order List</a></div>
	<br />

        <div class="menu2">Update Data</div>
        <br />
        <div class="menu3"><a href="/update/customer">Update Customer</a></div>


      </div>
