<% include header %>
<% include menu %>

   <div id="content">
   	<h3>Privacy Policy</h3>
	<p>
The JK Medical Inc.is committed to protect the privacy of individual
s who visit the website and who make use of the on-line facilities.
      	</p>
	<p>
This privacy policy provides you with information i
n terms of articles 19 and 20 of the Data
Protection Act. It also takes consideration of Reco
mmendation 2/2001 of the Article 29 Data
Protection Working Party, adopted on 17 May 2001, o
n certain minimum requirements for
collecting personal data on-line.
	 </p>
	 <p>
The policy can be easily accessible via a link at t
he bottom of each web page.
   	 </p>

	 <h4>1. Data Controller</h4>
	 <p>
The data controller of this website is the JK Medical Inc. whose office is situated in Tokyo.
    	 <h4>2. Information collected and purpose</h4>
	 <p><u>download</u></p>
	 <p>
When you visit our website the following informatio
n will automatically be processed and this
solely for the use of this association:
       	 </p>
<li>
<ul>The requested web page or download;</ul>
<ul>Whether the request was successful or not;</ul>
<ul>The date and time when you accessed the site;</ul>
<ul>The Internet address of the web site or the domain
name of the computer from which
you accessed the site;</ul>
<ul>The operating system of the machine running your w
eb browser and the type and
version of your web browser.</ul>

	<p><u>Cookies</u></p>
	<p>
Cookies are small pieces of data that the site tran
sfers to the user’s computer hard drive
when the user visits the website. Our website uses
only session cookies which are erased
when the user closes the Web browser. The session c
ookie is stored in temporary memory
and is not retained after the browser is closed. Se
ssion cookies do not collect information
from the user’s computer. They will typically store
information in the form of a session
identification that does not personally identify th
e user.
	</p>
	<p><u>Personal data provided by the data subject</u></p>
	<p>
When using this website’s online facilities, data s
ubjects may be required to provide their
personal data for the purposes of fun use.
	 </p>
	 <h4>3. Your rights as data subject</h4>
	 <p>
As an individual you may exercise your right to acc
ess the data held about you by this
company by submitting your request in writing to th
e data controller.
	</p>
	<p>
Although all reasonable efforts will be made to kee
p your information updated, you are kindly
requested to inform us of any change referring to t
he personal data held by the association.
In any case if you consider that certain informatio
n about you is inaccurate, you may request
rectification of such data. You also have the right
to request the blocking or erasure of data
which has been processed unlawfully.
      </p>
      <h4>4. Links to other Web Sites</h4>
      <p>
To give you a better service our site can connect y
ou with a number of links to other local
and international organisations and agencies. When
connecting to such other websites you
will no longer be subject to this policy but to the
privacy policy of the new site.
	</p>
	<h4>5. Transaction Security Policy</h4>
	<p>
(this section should be included when the site make
s use of
a payment gateway for financial transactions)
This site uses Secure Sockets Layer (SSL) to ensure
secure transmission of your personal
data. You should be able to see the padlock symbol
in the status bar on the bottom right
hand corner of the browser window. The url address
will also start with https:// depicting a
secure webpage. SSL applies encryption between two
points such as your PC and the
connecting server. Any data transmitted during the
session will be encrypted or scrambled
and then decrypted or unscrambled at the receiving
end. This will ascertain that data cannot
be read during transmission.
   </p>
   <h4>6. Changes to this Privacy Policy</h4>
   <p>
If there are any changes to this privacy policy, we
will replace this page with an updated
version. It is therefore in your own interest to ch
eck the "Privacy Policy" page any time you
access our web site so as to be aware of any change
s which may occur from time to time.
  </p>
  <h4>7. Feedback</h4>
  <p>
Any comments or suggestions that you may have and w
hich may contribute to a better
quality of service will be welcome and greatly appr
eciated.
	</p>

   </div>

<% include resource %>
<% include footer %>
