      <div id="resource">
        <div class="resource1"></div>
	<br />
        <div class="resource2">History</div>
	<br />
	<div class="resource3">*Homepage updated(01/01/14)<br />
	     		    *Privacy policy added(02/02/14)</div>
        <br />

        <div class="resource2">Links</div>
	<br />
	<div class="resource3">
        <a href="https://www.google.com/">google</a><br />
        <a href="https://www.yahoo.com/">yahoo</a><br />
        <a href="https://www.facebook.com/">facebook</a><br />
        <a href="http://instagram.com/#">instagram</a><br />
	</div>
      </div>

      </div>


