<% include header %>
<% include menu %>

   <div id="content">
        <h3>Search by Product</h3>

        <form method="POST" action="<%= action %>">
           <table id="product">
              <tr><td>Product:</td>
              <td><input type="text" id="name" name ="name" /></td>
              </tr>
           </table>
	   <br />
           <input type="submit">
        </form>

   </div>

<% include resource %>
<% include footer %>

